@import (less) "./phbStyle/reset.less";
@import (less) "./phbStyle/phb.assets.less";
@import (css, inline) "./phbStyle/phb.fonts.css";
//Colors
@background: #eee5ce;
@noteGreen: #e0e5c1;
@headerUnderline: #c9ad6a;
@horizontalRule: #9c2b1b;
@headerText: #58180d;
@monsterStatBackground: #fdf1dc;

//Variables
@paperWidth: 210mm;
@paperHeight: 297mm;

html {
  orphans: 1;
  widows: 1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

.footerAccentImage() {
  content: "";
  z-index: 100;
  height: calc(225px * @paperWidth / 3000px);
  width: @paperWidth;
  background-image: @footerAccentImage;
  background-size: cover;
}

.pageNumber() {
  content: counter(page);
  color: #c9ad6a;
  font-size: 0.6em;
  text-align: center;
}

@page {
  size: @paperWidth @paperHeight;
  background-color: @background;
  background-image: @backgroundImage;
  margin-top: calc(1cm * @paperHeight / 297mm);
  margin-bottom: calc(1.5cm * @paperHeight / 297mm);
  margin-left: calc(1.3cm * @paperWidth / 210mm);
  margin-right: calc(1.3cm * @paperWidth / 210mm);
}

@page :left {
  @bottom-center {
    .footerAccentImage();
    transform: scale(-1, 1);
  }

  @bottom-left-corner {
    .pageNumber();
  }
}

@page :right {
  @bottom-center {
    .footerAccentImage();
  }

  @bottom-right-corner {
    .pageNumber();
  }
}

.useSansSerif() {
  font-family:
    ScalySans, "Helvetica Neue", "Helvetica", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", "Arial", "Yu Gothic", "Meiryo", sans-serif;

  em {
    font-family:
      ScalySans, "Helvetica Neue", "Helvetica", "Hiragino Kaku Gothic ProN",
      "Hiragino Sans", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-style: italic;
  }

  strong {
    font-family:
      ScalySans, "Helvetica Neue", "Helvetica", "Hiragino Kaku Gothic ProN",
      "Hiragino Sans", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-weight: 800;
    letter-spacing: -0.02em;
  }
}

.useColumns() {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-fill: auto;
  column-gap: 1cm;
  -webkit-column-gap: 1cm;
  -moz-column-gap: 1cm;
}

.h5() {
  margin-bottom: 0.2em;
  font-family:
    ScalySansSmallCaps, "Helvetica Neue", "Helvetica",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Arial", "Yu Gothic",
    "Meiryo", sans-serif;
  font-size: 0.423cm;
  font-weight: 900;
}

body {
  .useColumns();
  z-index: 15;
  box-sizing: border-box;
  overflow: visible;
  font-family:
    BookSanity, "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho",
    serif;
  font-size: 0.317cm;
  text-rendering: optimizeLegibility;

  //*****************************
  // *            BASE
  // *****************************/
  p {
    padding-bottom: 0.8em;
    line-height: 1.3em;

    &+p {
      margin-top: -0.8em;
    }
  }

  ul {
    margin-bottom: 0.8em;
    padding-left: 1.4em;
    line-height: 1.3em;
    list-style-position: outside;
    list-style-type: disc;
  }

  ol {
    margin-bottom: 0.8em;
    padding-left: 1.4em;
    line-height: 1.3em;
    list-style-position: outside;
    list-style-type: decimal;
  }

  //Indents after p or lists
  p+p,
  ul+p,
  ol+p {
    text-indent: 1em;
  }

  img {
    z-index: -1;
  }

  strong {
    font-weight: bold;
    letter-spacing: 0.03em;
  }

  em {
    font-style: italic;
  }

  sup {
    vertical-align: super;
    font-size: smaller;
    line-height: 0;
  }

  sub {
    vertical-align: sub;
    font-size: smaller;
    line-height: 0;
  }

  //*****************************
  // *           HEADERS
  // *****************************/
  h1,
  h2,
  h3,
  h4 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-family:
      MrJeeves, "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho",
      serif;
    font-weight: 800;
    font-variant: small-caps;
    color: @headerText;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    break-inside: avoid-page;
    break-after: avoid-page;
  }

  h1 {
    float: block-start;
    float-reference: page;
    font-size: 0.987cm;
    page-break-before: always;

    &+p::first-letter {
      float: block-start;
      font-family:
        Solberry, "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho",
        serif;
      font-size: 10em;
      color: #222;
      line-height: 0.8em;
    }
  }

  h2 {
    font-size: 0.705cm;
  }

  h3 {
    font-size: 0.529cm;
    border-bottom: 2px solid @headerUnderline;
  }

  h4 {
    margin-bottom: 0em;
    font-size: 0.458cm;
  }

  h5 {
    .h5();
  }

  //*****************************
  // *          TABLE
  // *****************************/
  table {
    .useSansSerif();
    width: 100%;
    margin-bottom: 1em;
    font-size: 10pt;

    thead {
      display: table-row-group;
      font-weight: 800;

      th {
        vertical-align: bottom;
        padding-bottom: 0.3em;
        padding-right: 0.1em;
        padding-left: 0.1em;
      }
    }

    tbody {
      tr {
        td {
          padding: 0.3em 0.1em;
        }

        &:nth-child(odd) {
          background-color: @noteGreen;
        }
      }
    }
  }

  //*****************************
  // *            NOTE
  // *****************************/
  blockquote {
    .useSansSerif();
    box-sizing: border-box;
    margin-bottom: 1em;
    padding: 5px 10px;
    background-color: @noteGreen;
    border-style: solid;
    border-width: 11px;
    border-image: @noteBorderImage 11;
    border-image-outset: 9px 0px;
    box-shadow: 1px 4px 14px #888;

    p,
    ul {
      font-size: 0.352cm;
      line-height: 1.1em;
    }
  }

  //If a note starts a column, give it space at the top to render border
  pre+blockquote,
  h2+blockquote,
  h3+blockquote,
  h4+blockquote,
  h5+blockquote {
    margin-top: 13px;
  }

  .monster {
    padding-top: 15px;
    background-color: transparent;
    border: 0;
    box-shadow: 0;

    h2 {
      margin-top: -8px;
      margin-bottom: 0px;

      &+p {
        padding-bottom: 0px;
      }
    }

    h3 {
      font-family:
        ScalySans, "Helvetica Neue", "Helvetica", "Hiragino Kaku Gothic ProN",
        "Hiragino Sans", "Arial", "Yu Gothic", "Meiryo", sans-serif;
      font-weight: 400;
      border-bottom: 1px solid @headerText;
    }

    hr+ul {
      color: @headerText;
    }

    ul {
      .useSansSerif();
      padding-left: 1em;
      font-size: 0.352cm;
    }

    // Monster Ability table
    hr+table {
      margin: 0;
      column-span: 1;
      background-color: transparent;
      border-style: none;
      border-image: none;
      -webkit-column-span: 1;

      tbody {

        tr:nth-child(odd),
        tr:nth-child(even) {
          background-color: transparent;
        }
      }
    }

    table {
      color: @headerText;
    }

    p+p {
      margin-top: 0em;
      padding-bottom: 0.5em;
      text-indent: 0em;
    }

    //Triangle dividers
    hr {
      visibility: visible;
      height: 6px;
      margin: 4px 0px;
      background-image: @redTriangleImage;
      background-size: 100% 100%;
      border: none;
    }
  }

  //*****************************
  // *           FOOTER
  // *****************************/
  &:nth-child(even) {
    .footnote {
      left: 80px;
      text-align: left;
    }
  }

  .footnote {
    position: absolute;
    right: 80px;
    bottom: 32px;
    z-index: 150;
    width: 200px;
    font-size: 0.8em;
    color: #c9ad6a;
    text-align: right;
  }

  //*****************************
  // *          EXTRAS
  // *****************************/
  hr {
    margin: 0px;
    border: 0;
    border-bottom: 2px solid @headerUnderline;
  }

  // unorder list without bullets
  .nobullet ul{
    margin-bottom: 0.5em;
    padding-left: 1em;
    text-indent: -1em;
    list-style-type: none;
  }

  pre,
  code {
    font-family: monospace;
  }

  //Avoid breaking up
  p,
  blockquote,
  table {
    z-index: 15;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  //Better spacing for spell blocks
  h4+p+hr+ul {
    margin-top: -0.5em;
  }

  //Text indent right after table
  table+p {
    text-indent: 1em;
  }

  // Nested lists
  ul ul,
  ol ol,
  ul ol,
  ol ul {
    margin-bottom: 0px;
    margin-left: 1.5em;
  }
}

//*****************************
// *         SPELL LIST
// *****************************/
.spellList {
  .useSansSerif();
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  break-after: all;
  page-break-after: all;
  height: auto;
  width: auto;

  ul+h6 {
    margin-top: 15px;
  }

  p,
  ul {
    font-size: 0.352cm;
    line-height: 1.3em;
  }

  ul {
    margin-bottom: 0.5em;
    padding-left: 1em;
    text-indent: -1em;
    list-style-type: none;
    -webkit-column-break-inside: auto;
    page-break-inside: auto;
    break-inside: auto;
  }

  li {
    text-indent: -1em;
  }
}

//*****************************
// *         WIDE
// *****************************/
.wide {
  float:block-start;
  float-reference: page;
}

//*****************************
// *       CLASS TABLE
// *****************************/
.classTable {
  table {
    margin-top: 25px;
    margin-bottom: 40px;
    border-collapse: separate;
    background-color: white;
    border: initial;
    border-style: solid;
    border-image-outset: 25px 17px;
    border-image-repeat: stretch;
    border-image-slice: 150 200 150 200;
    border-image-source: @frameBorderImage;
    border-image-width: 47px;
  }
}

//************************************
// *       DESCRIPTIVE TEXT BOX
// ************************************/
.descriptive {
  display: block-inline;
  margin-bottom: 1em;
  background-color: #faf7ea;
  font-family:
    ScalySans, "Helvetica Neue", "Helvetica", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  border-style: solid;
  border-width: 7px;
  border-image: @descriptiveBoxImage 12 stretch;
  border-image-outset: 4px;
  box-shadow: 0px 0px 6px #faf7ea;

  p {
    display: block;
    padding-bottom: 0px;
    line-height: 1.5em;
  }

  p+p {
    padding-top: 0.8em;
  }

  em {
    font-family:
      ScalySans, "Helvetica Neue", "Helvetica", "Hiragino Kaku Gothic ProN",
      "Hiragino Sans", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-style: italic;
  }

  strong {
    font-family:
      ScalySans, "Helvetica Neue", "Helvetica", "Hiragino Kaku Gothic ProN",
      "Hiragino Sans", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-weight: 800;
    letter-spacing: -0.02em;
  }
}

pre+.descriptive {
  margin-top: 8px;
}

//*****************************
// *      TABLE OF CONTENTS
// *****************************/
.toc {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;

  a {
    color: black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    padding-left: 0;
    list-style-type: none;
  }

  &>ul>li {
    margin-bottom: 10px;
  }
}

// *****************************
// CAPTION
// *****************************
[data-caption] {
  margin-top: 3em;
  break-inside: avoid-page;
  position: relative;
}

[data-caption]::before {
  content: attr(data-caption);
  text-align: start;
  top: -1.5em;
  position: absolute;
  .h5();
}
